:root {
    --cells-board-padding: 4vw;
}


body {
    background-color: rgb(40, 42, 62);
}


@font-face {
    font-family: 'logo-font';
    src: url('/public/fonts/AbrilFatface-Regular.ttf') format('truetype');
}


.main-container-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 1s;
}

.main-container-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

.game-logo {
    font-weight: bold;
    color: white;
    font-family: 'logo-font', sans-serif;
    font-size: 3vw;
    user-select: none;
    transition: 2s;
    margin-bottom: 2vh;
}

.game-logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.modes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    align-items: center;
}

.cells-board-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
    align-items: center;
    padding: var(--cells-board-padding) var(--cells-board-padding);
    border-radius: 0.3vw;
    background-color: rgb(57, 59, 87);
    transition: 0.5s;
}

.cells-board-hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
    align-items: center;
    padding: var(--cells-board-padding) var(--cells-board-padding);
    border-radius: 0.3vw;
    background-color: rgb(57, 59, 87);
    opacity: 0;
    transition: 0.5s;
}

.no-display {
    display: none;
}

.bad-game-image {
    width: 7vw;
}

.bad-game-container-hidden {
    margin-top: 25vh;
    opacity: 0;
    transition: 0.5s;
}

.bad-game-container-show {
    margin-top: 25vh;
    opacity: 1;
    transition: 0.5s;
}



