.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40vw;
    height: 14vh;
    border-radius: 0.3vw;
    background-color: rgb(57, 59, 87);
    padding-left: 2vw;
    transition: 1s;
    margin-bottom: 2vh;
}

.status-image {
    width: 5vw;
}

.status-header {
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    user-select: none;
}

.status-info {
    font-size: 2vw;
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    user-select: none;
}

.status-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

